/* mass_time */


/* Mass Times Section Styles */
.mass-times-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.mas{
    background-color: #dcdcdc;
    
}

/* Header Styles */
h1 {
    color: #2c3e50;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #2980b9;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

h3 {
    color: #34495e;
    font-size: 22px;
    margin-top: 20px;
}

/* Paragraph and List Styles */
.ppp {
    color: #34495e;
    font-size: 18px;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Mass Time Wrapper */
.mass-time {
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .mass-times-section {
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}





/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .confession-times-section {
        padding: 20px;
    }

    .confession h1 {
        font-size: 30px;
    }

    .confession h2 {
        font-size: 24px;
    }

    .confession p {
        font-size: 16px;
    }
}

/* adoration */

/* Adoration Video Styles */
.adoration-video {
    margin-top: 30px;
    text-align: center;
    
}

.adoration-video h2 {
    color: #2980b9;
    font-size: 28px;
    margin-bottom: 15px;
}
.adoration{
    background-color: white;
    
    
}
.adoration-times-section{
    
    margin: 20px auto;
    padding: 20px;
}




/* Liturgical Year Section */
.liturgical-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    
    border-radius: 8px;
   
}

.liturgical-section h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #005b96;
}

.liturgical-section p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #555;
}

.liturgical-seasons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.season {
    background-color: #f4f6f7;
    padding: 20px;
    border-left: 5px solid #005b96;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.season h2 {
    font-size: 2rem;
    color: #005b96;
    margin-bottom: 10px;
}

.season p {
    font-size: 1.5rem;
    color: #666;
}

.season:hover {
    background-color: #eaf0f6;
    transform: scale(1.02);
}



/* Responsive Design */
@media (max-width: 768px) {
    .liturgical-seasons {
        grid-template-columns: 1fr;
    }
}
.li{
    background-color: white;
}

